[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "HMMpa"]
	path = HMMpa
	url = https://github.com/cran/HMMpa
	shallow = true
	registered = true
[submodule "MCL"]
	path = MCL
	url = https://github.com/cran/MCL
	shallow = true
	registered = true
